*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    cursor: pointer;
}
.face{
    position: relative;
    justify-content: center;
    align-items: center;
   
    background-image: linear-gradient(to top, #cfdd0b 0%, #eeec8f 100%, #c7ce6b 100%, #dfdea2 100%); 
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 20px 20px 30px rgb(165, 150, 230);

}
.face::before{
    content: "";
    position: absolute;
    top: 200px;
    width: 150px;
    height: 50px;
    background: rgb(255, 0, 0);
}
.face:hover::before{
    top: 210px;
    width: 150px;
    height: 20px;
    background: rgb(226, 96, 20);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 0.5s;
}
.eyes{
    position: relative;
    top: -40px;
    display: flex;
}
.eyes .eye{
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    background: rgb(255, 255, 255);
    margin: 0 15px;
    border-radius: 50%;
}
.eyes .eye::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background:rgb(0, 0, 0);
    border-radius: 50%;
}